*{
    margin:0%
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family:'Times New Roman';
    font-size: 20px;
}

nav a:hover { /* pseudo seletor para quando o mouse passar por cima*/
    color: rgb(139, 0, 46);;
    font-family:'Times New Roman';
    font-size: 20px;
    border-bottom: 3px solid  rgb(240, 75, 130);
}

header nav ul{
    list-style: none; /* Tira a bolinha da lista */
    display:flex; /* deixa os links lado a lado*/ 
    justify-content: center;  /* centraliza o texto inteiro*/
    padding: 20px 0;
}

header nav ul li{
    margin: 0 15px;
}
header section{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}
.foto{
    width: 40%;
    padding: 20px; /* espaço interno para naão encostar nas bordas*/
    margin: auto;
}
.foto img {
    width: 70%;
    height: auto;
    display: block;
    border-radius: 10px;
    border: 4px solid rgb(240, 75, 130);
    box-shadow: 0 8px 30px rgb(240, 75, 130);
}
h1{
    color: rgb(240, 75, 130);
    font-size: 85px;
    font-family:'Times New Roman';
    text-align: center;
    text-shadow: 3px 3px 40px rgb(240, 75, 130);
}

h2{
    text-align: center;
    font-family: "Brush Script MT", cursive;
    letter-spacing: 2px;
    font-weight: normal;
    color:rgb(139, 0, 46);
    margin-top: 0;
    font-size: 30px;
}
.texto h3{
    text-align: left;
    color: rgb(240, 75, 130);
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 5px;
}

header p{
    text-align: left;
}

.texto{
    width: 50%;
    padding: 40px;
}





body{
    font-size: 18px;
    background-color: rgb(253, 230, 243);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    text-align:center;
}