*{ margin:0 } 
body{
    font-size: 18px;
    background-color: rgb(253, 230, 243);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
/* header*/
nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family:'Times New Roman';
    font-size: 20px;
}
nav a:hover { /* pseudo seletor para quando o mouse passar por cima*/
    color: rgb(139, 0, 46);;
    font-family:'Times New Roman';
    font-size: 20px;
    border-bottom: 3px solid  rgb(240, 75, 130);
}
header nav ul{
    list-style: none; /* Tira a bolinha da lista */
    display:flex; /* deixa os links lado a lado*/ 
    justify-content: center;  /* centraliza o texto inteiro*/
    padding: 20px 0;
}
header nav ul li{
    margin: 0 15px;
}
header section{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: auto;
}
.foto{
    width: 40%;
    padding: 20px; /* espaço interno para naão encostar nas bordas*/
    margin: auto;
}
.foto img {
    width: 70%;
    height: auto;
    display: block;
    border-radius: 10px;
    border: 3px solid rgb(240, 75, 130);
    box-shadow: 5px 8px 25px rgb(139, 0, 46);
}
h1{
    color: rgb(240, 75, 130);
    font-size: 85px;
    font-family:'Times New Roman';
    text-align: center;
    text-shadow: 3px 2px 3px rgb(139, 0, 46);
}
h2{
    text-align: center;
    font-family: "Brush Script MT", cursive;
    letter-spacing: 2px;
    font-weight: normal;
    color:rgb(139, 0, 46);
    margin-top: 0;
    font-size: 30px;
}
.texto{
    width: 50%;
    padding: 40px;
}
h3{
    text-align: left;
    color: rgb(240, 75, 130);
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-family:'Times New Romam' ;
}
.texto ul{
    margin-top: 10px;
    padding-left: 0;
    list-style-position: inside;
}
.texto li{
    color: black; /* cor do texto da linha*/ 
}
.texto li::marker{ /* estiliza marcadores da lista: bolinhas e numeros*/
    color: rgb(139, 0, 46);
}
.texto a{
    text-decoration: none;
    color: black;
}
.texto a:hover{
    color: rgb(139, 0, 46);
}
header p{
    text-align: left;
    line-height: 1.5; /* Da espaço entre as linhas*/
}

strong{
     color: rgb(139, 0, 46);
}

/*Main Habilidades*/
main section{
    text-align: left;
    margin: 40px;
}
.articleHabilidades{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    
}
.articleHabilidades article{
    border: 3px solid  rgb(240, 75, 130);
    padding: 10px;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(139, 0, 46);
}
.articleHabilidades article:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
h4{
    color:rgb(139, 0, 46)
}
.articleHabilidades article span{
    font-size: 14px;
    color: rgb(139, 0, 46);
}
/*Main Objetivos*/
#Objetivos{
    text-align: left;

}
/* footer*/
footer h3 {
    text-align: left;
    color: rgb(240, 75, 130);
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 5px;
}
footer{
    text-align: left;
    margin: 30px;
}
footer div p a{
    text-decoration: none;
    color: rgb(139, 0, 46);
}
footer p a:hover {
    color: rgb(240, 75, 130);
}
.topo{
    display: block;
    text-align: right;
    text-decoration: none;
    color: rgb(139, 0, 46);
}
.topo:hover{
    color: rgb(240, 75, 130);    
}


/*CSS DA PÁGINA DESIGN WEB: */
.MainDesignWeb{
   
}